export const DESECSTACK_DOMAIN = '${DESECSTACK_DOMAIN}';
export const LOCAL_PUBLIC_SUFFIXES = ['dedyn.${DESECSTACK_DOMAIN}'];
export const EMAIL = atob(atob('YzNWd2NHOXlkRUJrWlhObFl5NXBidz09'));
export const DESECSTACK_API_SEPA_CREDITOR_ID = '${DESECSTACK_API_SEPA_CREDITOR_ID}';
export const DESECSTACK_API_SEPA_CREDITOR_NAME = '${DESECSTACK_API_SEPA_CREDITOR_NAME}';
