# python virtualenv and test files
.env
.env.dev
api/venv
api/.venv

# IDE files
.idea
.vscode/test.env

# development helper scripts
/*.sh
/.cache/

# local certificates
/certs/

# Webapp development files
node_modules
package-lock.json
