# python virtualenv and test files
.env
api/venv

# IDE files
.idea

# Local caches
.cache

# development helper scripts
/*.sh

# local certificates
/certs/

# Webapp development files
node_modules
package-lock.json
www/webapp/.vite/
