# python virtualenv and test files
.env
.env.dev
api/venv

# IDE files
.idea

# development helper scripts
/*.sh

# local certificates
/certs/

# Webapp development files
node_modules
package-lock.json
