sudo: required

env:
  global:
   - DESECSTACK_API_ADMIN=john.doe@example.com
   - DESECSTACK_API_ALLOWED_HOSTS=desec.your.hostname.example.com update.dedyn.your.hostname.example.com
   - DESECSTACK_API_SEPA_CREDITOR_ID=TESTCREDITORID
   - DESECSTACK_API_EMAIL_HOST=mail.your.hostname.example.com
   - DESECSTACK_API_EMAIL_HOST_USER=user
   - DESECSTACK_API_EMAIL_HOST_PASSWORD=password
   - DESECSTACK_API_EMAIL_PORT=25
   - DESECSTACK_API_SECRETKEY=9Fn33T5yGuds
   - DESECSTACK_DBAPI_PASSWORD_desec=9Fn33T5yGueeee
   - DESECSTACK_DB_PASSWORD_pdnslord=9Fn33T5yGulkjlskdf
   - DESECSTACK_DB_PASSWORD_pdnsmaster=9Fn33T5yGukjwelt
   - DESECSTACK_DB_PASSWORD_poweradmin=9Fn33T5yGuiewhjtwie
   - DESECSTACK_DB_PASSWORD_ns1replication=9Fn33T5yGuejeje
   - DESECSTACK_DB_SUBJECT_ns1replication=9Fn33T5yGufacv
   - DESECSTACK_DB_PASSWORD_ns2replication=9Fn33T5yGulkjhetrlkjew
   - DESECSTACK_DB_SUBJECT_ns2replication=9Fn33T5yGukjnrtj
   - DESECSTACK_DEVADMIN_PASSWORDmd5=.
   - DESECSTACK_NSLORD_APIKEY=9Fn33T5yGukjekwjew
   - DESECSTACK_IPV6_SUBNET=fd80::/8
   - DESECSTACK_IPV6_ADDRESS=fd80::1
   - DESECSTACK_WWW_CERTS=/dev/null
   - DESECSTACK_DBMASTER_CERTS=/dev/null
   - DESECSTACK_NORECAPTCHA_SITE_KEY=9Fn33T5yGulkjhdidid
   - DESECSTACK_NORECAPTCHA_SECRET_KEY=9Fn33T5yGulkjhoiwhetoi

language: python

services:
  - docker

before_install:
  - rm -f www
  - rm -f static
  - git clone https://github.com/desec-io/desec-www.git www
  - git clone https://github.com/desec-io/desec-static.git static
  - mkdir static/dist
  - docker-compose build --no-cache --pull

script:
  - ./test-api
