version: '2.2'

# mostly extending from main .yml
services:
  www:
    logging:
      driver: "json-file"

  static:
    logging:
      driver: "json-file"

  dbapi:
    logging:
      driver: "json-file"

  dblord:
    logging:
      driver: "json-file"

  dbmaster:
    logging:
      driver: "json-file"

  api:
    environment:
    - DESECSTACK_API_DEBUG=True
    logging:
      driver: "json-file"

  nslord:
    ports:
     - "5311:53"
     - "5311:53/udp"
     - "127.0.0.1:8081:8081"
    logging:
      driver: "json-file"

  nsmaster:
    ports:
     - "5321:53"
     - "5321:53/udp"
    logging:
      driver: "json-file"

  rabbitmq:
    logging:
      driver: "json-file"
