[mysqld]
ssl-ca   = /etc/ssl/private/sca.server2.crt
ssl-cert = /etc/ssl/private/WILDCARD.dev.desec.io.crt
ssl-key  = /etc/ssl/private/WILDCARD.dev.desec.io.key

server-id               = 1
log_bin                 = /var/log/mysql/mysql-bin.log
binlog_format=ROW
log-basename=nsmaster
binlog-do-db=pdnsmaster
expire_logs_days        = 10
