SECRET_KEY = ''
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = ''
DEBUG = True
ALLOWED_HOSTS = []
DATABASES = {
    'default': {
        # 'ENGINE': 'django.db.backends.sqlite3',
        # 'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
    }
}
POWERDNS_API = 'http://localhost:8081/servers/localhost' # no trailing slash, please!
POWERDNS_API_TOKEN = 'MyAuthToken'