body {
    background: #eee;
    font-family: sans-serif;
}

:not(.field-list) > dt {
    font-weight: bold;
}

.literal, .literal-block {
    background: #fff;
    border: 1px solid #ddd;
}

td {
    vertical-align: top;
}