captcha~=0.3.0
celery~=5.2.1
coverage~=6.2
cryptography~=36.0.1
Django~=4.0
django-cors-headers~=3.10.1
djangorestframework~=3.13.1
django-celery-email~=3.0.0
django-netfields~=1.2.4
django-pgtrigger~=2.4.0
django-prometheus~=2.2.0
dnspython~=2.2.0
httpretty~=1.0.5
psycopg2~=2.9.2
prometheus-client~=0.12.0  # added to control django-prometheus' dependency version
psl-dns~=1.0
pylibmc~=1.6.1
pyyaml~=6.0
requests~=2.26.0
uwsgi~=2.0.20
