captcha~=0.3.0
celery~=5.0.2,!=5.0.6
coverage~=6.0
cryptography~=35.0.0
Django~=3.2.8
django-cors-headers~=3.10.0
djangorestframework~=3.12.4
django-celery-email~=3.0.0
django-netfields~=1.2.4
django-prometheus~=2.1.0
dnspython~=2.1.0
httpretty~=1.0.5
psycopg2~=2.9.1
prometheus-client~=0.9.0  # added to control django-prometheus' dependency version
psl-dns~=1.0
pylibmc~=1.6.1
pyyaml~=6.0
requests~=2.26.0
uwsgi~=2.0.20
