captcha~=0.6.0
celery~=5.4.0
coverage~=7.6.11
cryptography~=44.0.0
Django~=5.1.6
django-cors-headers~=4.7.0
djangorestframework~=3.14.0
django-celery-email~=3.0.0
django-netfields~=1.3.2
django-pgtrigger~=4.13.3
django-prometheus~=2.3.1
dnspython~=2.7.0
pyotp~=2.9.0
psycopg[binary]~=3.2.4
psl-dns~=1.1.1
pylibmc~=1.6.3
pyyaml~=6.0.2
requests~=2.32.3
responses~=0.25.6
uwsgi~=2.0.28
