name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  DESECSTACK_DOMAIN: your.hostname.example.com
  DESECSTACK_NS: ns1.example.com ns2.example.com
  DESECSTACK_API_ADMIN: john.doe@example.com
  DESECSTACK_API_AUTHACTION_VALIDITY: 24
  DESECSTACK_API_SEPA_CREDITOR_ID: TESTCREDITORID
  DESECSTACK_API_SEPA_CREDITOR_NAME: TESTCREDITORNAME
  DESECSTACK_API_EMAIL_HOST: mail.your.hostname.example.com
  DESECSTACK_API_EMAIL_HOST_USER: user
  DESECSTACK_API_EMAIL_HOST_PASSWORD: password
  DESECSTACK_API_EMAIL_PORT: 25
  DESECSTACK_API_SECRETKEY: 9Fn33T5yGuds
  DESECSTACK_API_PSL_RESOLVER: 8.8.8.8
  DESECSTACK_DBAPI_PASSWORD_desec: 9Fn33T5yGueeee
  DESECSTACK_DB_PASSWORD_pdnslord: 9Fn33T5yGulkjlskdf
  DESECSTACK_DB_PASSWORD_pdnsmaster: 9Fn33T5yGukjwelt
  DESECSTACK_NSLORD_APIKEY: 9Fn33T5yGukjekwjew
  DESECSTACK_NSLORD_DEFAULT_TTL: 1234
  DESECSTACK_NSMASTER_APIKEY: LLq1orOQuXCINUz4TV
  DESECSTACK_DBMASTER_PORT: 13306
  DESECSTACK_IPV4_REAR_PREFIX16: 172.16
  DESECSTACK_IPV6_SUBNET: bade:affe:dead:beef:b011::/80
  DESECSTACK_IPV6_ADDRESS: bade:affe:dead:beef:b011:0642:ac10:0080
  DESECSTACK_WWW_CERTS: ./certs
  DESECSTACK_MINIMUM_TTL_DEFAULT: 3600
  DESECSTACK_PROMETHEUS_PASSWORD: Je9NNkqbULsg

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Build Images
      run: |
        cd $GITHUB_WORKSPACE
        docker-compose build
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e.yml build test-e2e

    - name: Check for missing migrations
      run: |
        docker-compose -f docker-compose.yml run -T api python manage.py makemigrations --check
        docker-compose -f docker-compose.yml down -v

    - name: Run e2e Tests
      run: |
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e.yml run -T test-e2e bash -c "./apiwait 45 && mocha ./spec"

    - name: e2e Tests Logs and Cleanup
      if: always()
      run: |
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e.yml ps
        grep 'desec/' /var/log/syslog
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e.yml down -v
        docker-compose down -v

    - name: Run e2e2 Tests
      run: |
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e2.yml run -T test-e2e2 bash -c "./apiwait 300 && python3 -m pytest -vv ."

    - name: e2e2 Tests Logs and Cleanup
      if: always()
      run: |
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e2.yml ps
        grep 'desec/' /var/log/syslog
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e2.yml down -v
        docker-compose down -v

    - name: Run API Tests
      run: |
        docker-compose -f docker-compose.yml -f docker-compose.test-api.yml run -T api bash -c "./entrypoint-tests.sh"

    - name: API Tests Logs and Cleanup
      if: always()
      run: |
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e.yml ps
        grep 'desec/' /var/log/syslog
        docker-compose -f docker-compose.yml -f docker-compose.test-e2e.yml down -v
        docker-compose down -v
